body{
    font-family:cursive;
    background-size:20%;
    opacity:0.8;
    color:rgb(56, 49, 43);
}
.logo{
    width:50px;
}
.kozepre{
    text-align: center;
}
.margin-auto{
    margin:auto;
}
ul li:nth-child(1){
    list-style-type: none;
    font-weight: bold;
}
th{
    font-weight:bold;
}

a{
    text-decoration: none;
    color:black;
}
